@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizes" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.info {
    padding: 1rem;

    @include tablet {
        padding: 1.5rem 2.25rem;
    }

    &__title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;

        @include tablet {
            font-size: 2.0625rem;
            line-height: 2.75rem;
        }
    }
}