@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizes" as *;
@use "../../styles/partials/mixins" as *;

.video-list {
    border-top: 1px solid $divider-and-outline;
    margin: 1rem;
    margin-top: 0;

    @include tablet {
        margin: 0 2.25rem;
    }

    @include desktop {
        margin: 0;
        padding-left: 2rem;
        border-left: 1px solid $divider-and-outline;
        border-top: none;
    }

    &__title{
        color: $secondary-text;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        padding: 1.5rem 0 1rem;
    }
}

.item {
    display: flex;
    padding: 0.5rem 0;

    &__image {
        width: 7rem;
        height: 4.5rem;
        object-fit: cover;
        border-radius: 4px;
        background-color: $divider-and-outline;
        margin-right: 1rem;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15rem;
    }

    &__link {
        &:focus, &:hover, &:visited, &:link, &:active {
            text-decoration: none;
        }
    }

    &__title, &__channel {
        margin: 0;
        color: $primary_text;
        
    }

    &__title {
        font-weight: 700;
    }

    &__channel {
        margin-bottom: 0.2rem;
        text-decoration: none;

    }
}