@use "../../styles/partials/sizes" as *;

.comments {
    padding: 1rem;
    padding-top: 0;

    @include tablet {
        padding: 0 2.25rem 1.5rem;

    }

    &__num-of-comments {
        font-weight: 700;
        margin-top: 0;
    }
}