@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizes" as *;
@use "../../styles/partials/mixins" as *;

.content{ 
    @include desktop-center;
    @include desktop {
        display: flex;
    }

    &__right{

        @include desktop{
            width: 35%;
        }
        
    }

    &__left {

        @include desktop {
          width: 65%;  
        }
        
    }
}