@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizes" as *;


.button {
    width: 100%;
    height: 2.5rem;
    text-transform: uppercase;
    color: $form-background;
    border: none;
    border-radius: 0.25rem;
    padding: 0.8rem 0;
    outline: 0;


    &:hover {
        background-color: $hover-cta;
    }

    @include tablet {
        width: 10rem;
    }

}
