$primary-text: #323232;
$primary-cta: #0095FF;
$secondary-text: #AFAFAF;
$background: #FFFFFF;
$video-player-comp: #000000;
$hover-cta: #0065AD;
$divider-and-outline: #E1E1E1;
$form-background: #FAFAFA;

