

//Normal

@font-face{
    font-family: "Avenir";
    src: url("../../assets/fonts/Alternative-files/AvenirNextLTPro.woff2") format("woff2"),
        url("../../assets/fonts/Alternative-files/AvenirNextLTPro-Regular.woff") format("woff"),
        url("../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
        font-weight: 400;
}

//Bold  

@font-face{
    font-family: "Avenir";
    src: url("../../assets/fonts/Alternative-files/AvenirNextLTPro-Bold.woff2") format("woff2"),
        url("../../assets/fonts/Alternative-files/AvenirNextLTPro-Bold.woff") format("woff"),
     url("../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: 700;
}