@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizes" as *;
@use "../../styles/partials/mixins" as *;

.hero {
    background-color: $video-player-comp;
    padding: 0;
    display: flex;
    justify-content: center;

    &__video {
        width:100%;
        height: 50vw;
        object-fit: cover;

        @include tablet {
            padding: 0 2.25rem;
            height: 45vw;
            
        }
        @include desktop-center;
        @include desktop {
            padding: 0 4rem;
            height: 40vw;
        }
    }
}