@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/sizes" as *;

.publish-video {
    border-top: 0.0625rem solid $divider-and-outline;
    padding: 1rem;

    @include tablet {
        padding: 1rem 2.25rem;
    }

    @include desktop {
        padding: 0;
    }
    @include desktop-center;

    &__title {
        font-weight: 700;
        line-height: 2rem;

        @include tablet {
            font-size: 2.0625rem;
            line-height: 2.75rem;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;

    @include tablet {
        border-top: 0.0625rem solid $divider-and-outline;
        padding-top: 1rem;
    }

    &__top {
        @include desktop {
            display: flex;
        }
    }

   &__image-container {

        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 33%;
        } 
   }

   &__input-container {
        @include desktop {
            width: 67%;
            padding-left: 1.5rem;
        }
   }

    &__image-title, &__label {
        color: $secondary-text;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 700;
        margin: 1rem 0 0.25rem;
        width: 100%;
    }

    &__image {
        width: 100%;
        border-radius: 0.25rem;
        background-color: $divider-and-outline;
        
        

    }

    &__input-container {
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-top: 1rem;

    }

    &__input-title, &__input-description {
        border-radius: 0.25rem;
        padding: 0.75rem;
        border: 0.0625rem solid $divider-and-outline;
        margin-bottom: 1rem;
        font-family: "Avenir";
        font-size: 0.8125rem;
        line-height: 1.125rem;
        color: $primary-text;
        background-color: $form-background;
        width: 100%;
        resize: none;
        outline: none;

        @include tablet {
            margin-bottom: 0;
        }
    }

    &__input-title {
        height: 2.5rem;
    }

    &__input-description {
        height: 6rem;
    }

    &__publish-button {
        background: url(../../assets/icons/publish.svg) no-repeat scroll 5px 8px, $primary-cta;
    }

    &__cancel-button {
        background-color: $background;
        color: $primary-cta;
        margin: 1.5rem 0 0.5rem;
    }

    &__cancel-button, &__publish-button {
        @include tablet {
            margin: 1.5rem;
            margin-right: 0;
        }
    }

    &__bottom {

        @include tablet {
            margin-top: 1.5rem;
            border-top: 0.0625rem solid $divider-and-outline;
            display: flex;
            flex-direction: row-reverse;
        }
    }
}