@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizes" as *;
@use "../../styles/partials/mixins" as *;


.header {
    font-family: "Avenir";
    font-weight: 400;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background-color: $background;

    @include tablet {
        flex-direction: row;
        padding: 0 2.25rem;
        justify-content: space-between;
    }

    &__logo {
        max-width: 7.5rem;
        max-height: 1.5625rem;

        @include tablet {
            margin-right: 5rem;
        }
    }
    @include desktop {
        padding: 0
    }

    @include desktop-center;

}

.nav {
    position: relative;
    width: 100%;

    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
    }


    &__search-bar {
        padding: 1rem 0;
    }

    &__search-bar  {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include tablet {
            width: fit-content;
        }
    }

    &__input {
        background: url(../../assets/icons/search.svg) no-repeat scroll 10px 10px;
        border-radius: 0.25rem;
        padding: 0.65rem;
        padding-left: 2rem;
        border: 0.0625rem solid $divider-and-outline;
        outline: none;
        color: $video-player-comp;
        background-color: $form-background;
        width: 80%;
       

        @include tablet {
            width: 15rem;
        }
    }

    &__image-mobile {
        background-image: url(../../assets/Images/Mohan-muruge.jpg);
        background-size: cover;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;

        @include tablet {
            display: none;
        }
    }

    &__image-notmobile {
        display: none;
        background-image: url(../../assets/Images/Mohan-muruge.jpg);
        background-size: cover;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;

        @include tablet {
            display: inline-block;
            margin-left: 1.5rem;

        }
    }

}
