@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizes" as *;
@use "../../styles/partials/mixins" as *;

.user-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $form-background;
    border-top: 0.0625rem solid $divider-and-outline;
    width: 100%;


    &__text{
        margin-right: 0.5rem;
        font-size: 0.75rem;

        @include tablet {
            margin-right: 2rem;
        }
    }

    &__button {
        color: $form-background;
        background-color: $secondary-text;
        border: 0;
        outline: 0;
        border-radius: 0.25rem;
        height: 1.5rem;
        width: 4rem;
        font-size: 0.75rem;

        &:hover {
            background-color: $primary-text;
        }
    }

}